body {    
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  margin: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

span {
  color: cyan;
}

#contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  margin: auto 0;
  width: 240px;
  max-height: 320px;
  cursor: none;
  height: 100vh;
}

#_228 { top: 208px; left: 0 }
#_229 { top: 209px; right: 0 }
#_290 { top: 270px; left: 0 }
#_291 { top: 271px; right: 0 }

.measure {
  color: yellow;
  position: fixed;
  width: 40px;
  height: 19px;
  border-bottom: thin solid yellow;
}
