body {    
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  margin: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

#contents {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: auto 0;
  width: 240px;
  max-height: 320px;
  cursor: none;
  height: 100vh;
}
